.graphic-day {
  text-align: center;
  padding: 15px 5px 20px 8px;
  border: 1px solid #ddd;
}
  .graphic-day-wrapper {
    padding: 0px;
    width: 14.28%;
  }
  .graphic-day-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
.graphic-production {
  margin: 8px 0;
}
