.graphic-day {
  text-align: center;
  padding: 15px 5px 20px 8px;
  border: 1px solid #ddd;
}
  .graphic-day-wrapper {
    padding: 0px;
    width: 14.28%;
    min-width: 100px;
    position: relative;
    float: left;
    &:before, &:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .graphic-day-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
.graphic-production {
  margin: 8px 0;
}
