<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Witaj, <%= @user.first_name %>!</h1>
    <p>
      Uprzejmie przypominamy o Twoich realizacjach:
      <ul>
        <% @productions.each do |p| %>
          <li> <%= p.decorate.start_date.downcase %> - <%= p.decorate.end_date.downcase %> </li>
        <% end %>
      </ul>
      Ku chwale Afery!
    </p>
    <p>
      Pozdrawiamy,
      Wesoła załoga RealizAfery
    </p>
  </body>
</html>
