.container
  %h2 Moje realizacje
  %table.table.table-hover
    %thead
      %tr
        %td Od
        %td Do
        %td Actions
    %tbody
      - user_productions.each do |prod|
        %tr
          %td= prod.start_date
          %td= prod.end_date
          %td
            = link_to cancel_production_path(prod), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-remove
                %strong Anuluj realizację
